@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <div class="mt-4">
        <a class="btn btn-primary btn-lg mx-2" href="/Item/Index">Items</a>
        <a class="btn btn-success btn-lg mx-2" href="/Store/Index">Stores</a>
        <a class="btn btn-info btn-lg mx-2" href="/StockMovement/Index">Stocks</a>
    </div>
</div>
